{erl_opts, [debug_info]}.
{deps, []}.
{plugins, [pc]}.
{provider_hooks, [
	{pre, [
		{compile, {pc,compile}},
		{clean, {pc,clean}}
	]}
]}.
{port_env, [
	{"CFLAGS", "$CFLAGS -O3 -march=native -Ic_src/wirehair/include/"},
	{"CXXFLAGS", "$CXXFLAGS -O3 -march=native -Ic_src/wirehair/include/"},
	{"LDFLAGS", "$LDFLAGS"}
]}.
{port_specs, [
	{"priv/wirerlhair_nif.so", [
		"c_src/wirehair/gf256.cpp",
		"c_src/wirehair/wirehair.cpp",
		"c_src/wirehair/WirehairCodec.cpp",
		"c_src/wirehair/WirehairTools.cpp",
		"c_src/nif.c"
	]}
]}.
